params {
    output = "results"
}


manifest {
    name = "tnseq"
    version = "0.8.0"
}

profiles {
    prod {
        docker {
            enabled = true
            fixOwnership = true
            runOptions = '-u $(id -u):$(id -g)'
        }
        process {
            withName: "cutadapt" {
                //cpus = 2
                //memory = 2.GB
                publishDir = [path: "${params.output}/cutadapt", mode: "copy"]
            }
            withName: "bowtie2" {
                //cpus = 2
                //memory = 2.GB
                publishDir = [path: "${params.output}/bowtie2", mode: "copy"]
            }
        }
    }
}